name: Build Linux Binary

on:
  push:
    branches: [ main ]
  workflow_dispatch: # Allows you to run this manually

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build Binary
        run: |
          pyinstaller --onefile gofile-downloader.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: gofile-downloader-linux
          path: dist/gofile-downloader
